<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Steganography</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Image Steganography</h1>
        <div class="buttons">
            <a href="{{ url_for('encode') }}" class="button">Encode</a>
            <a href="{{ url_for('decode') }}" class="button">Decode</a>
        </div>
    </div>
</body>
</html>
